
<%=LocalText.html(@language,:activation_mail, :mail_body)%><BR/><BR/>
<%=LocalText.html(@language,:global,:email_click_to_visit)%> <BR/><BR/><a href='<%=@url_base%>'><%=@url_base%></a><BR/><BR/>
<%=LocalText.html(@language,:activation_mail, :mail_save)%><BR/><BR/>
