<strong><%=local_html :footer,:title%></strong> | 
<%=local_html :footer,:copyright_text%> | <a href="http://www.madridonrails.com" target="_blank" >Sobre Madrid On Rails</a> |
<a href="http://www.madridonrails.com/cms/contacto" target="_blank">Contacto</a>