	<%=render :partial=>'task_list_group', 
	          :locals=>{:task_list=>@open_lists, 
	          			:title=>local_html(:task_list,:my_open_lists),
						:div_for_lists=>'active_lists',
	          			:display_add_icon=>true,
	          			:display_if_empty=>true,
	          			:empty_div_name=>'active_list_empty_div'}
	-%>
