<html>
<body>
	<div id="ListArea">
		<%= yield %>
	</div>
	<BR/>
	<%=LocalText.html(@language,:global, :mail_greeting)%>
	<BR/>
        <BR/>
	<%=LocalText.html(@language,:global, :team_greeting)%>
	<BR/>
</html>
</body>
</html>